header.masthead {
    background-image: url("./images/training.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    margin-bottom: 50px;
  }

  header.masthead.overlay {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: .5;
   
  }

  .site-heading {
   
    font-family: 'Tenor Sans', sans-serif;
    color: #f5f1ee;
    /* display: flex; */
    vertical-align: middle;
    text-align: right;
   /* justify-content: center;  align horizontal */
    align-items: center; /* align vertical*/
    background-color: #8D6542;
    opacity: 0.45;
    width: 100%;
  }
  .site-heading h3 { color: #ffffff;}

  /* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 3.5rem;
}

.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343A40;
  color: white;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
}